<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.subhamkumar.clipsy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true">
        <activity android:name=".panel.follow_people"></activity>
        <activity
            android:name=".auth.home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.signin"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity
            android:name=".auth.signup"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".panel.panel"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".panel.profile_result"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".panel.profiles_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".panel.editor"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".auth.email_verification"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".auth.forgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".auth.change_password"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".panel.choose_avatar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".panel.ProfileSetting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />

        <receiver android:name=".utils.CustomTabs$CopyBroadcastReceiver" />

        <receiver
            android:name=".utils.NotificationBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.REBOOT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.Daemon"
            android:enabled="true" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>