<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.subhamkumar.clipsy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".signin"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signup" />
        <activity
            android:name=".panel"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".profile_result"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".profiles_list" />
        <activity android:name=".editor" />
        <activity android:name=".email_verification" />
        <activity android:name=".send_verify_token" />
        <activity android:name=".change_password" />

        <receiver android:name=".utils.CustomTabs$CopyBroadcastReceiver" />

        <activity android:name=".choose_avatar"></activity>
    </application>

</manifest>